# Ignore virtual environments
myenv/
venv/
.env/

# Ignore git
.git/
.gitignore

# Ignore notebooks
*.ipynb

# Ignore database except one CSV
database/*
!database/raw_data/
!database/raw_data/DIM_PROPERTY_LOCATION.csv

# Ignore only training dataset
#model/x_tree.csv
model/*.ipynb

!model/sarimax_model_compact.pkl

# Ignore local cache
__pycache__/
*.pyc

# Ignore stray dockerfiles
Dockerfile*
