#pandas
#numpy
#scikit-learn
#statsmodels
#matplotlib
#seaborn
#mlflow
#fastapi
#uvicorn
#pydantic
#requests
#huggingface-hub
#ipykernel
#streamlit==1.32.2
#plotly
#python-dotenv
#pmdarima
#missingno
#xgboost
#nbformat
#altair==4.2.2

streamlit==1.32.2
pandas
numpy
scikit-learn
xgboost
statsmodels
pillow
altair==4.2.2
requests